@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
  background-color: #000;
  font-family: 'Zilla Slab', serif;
  letter-spacing: 0.5em;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  margin: {
    bottom: 3em;
    top: 3em;
  }
}

// Base seprator
$base-separator: 5em;

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.whoami {
  color:  #fff;
  display: none;
  line-break: strict;

  margin: {
    bottom: $base-separator;
    top: $base-separator;
  }
}

.logo-wrapper {
  flex: 1 1 auto; 
  .logo {
    display: block;
    height: auto;
    max-width: 350px;
  }
}

.info {
  display: flex;
  flex-flow: column;
  flex: flex-grow;
  margin-top: 3em;
  a {
    color: #fff;
    cursor: pointer;
    flex: 1 1 auto;
    margin-top: $base-separator;
    text-align: center;

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &:last-child {
      margin-bottom: $base-separator;
    }
  }
}

.copyright {
  color: white;
  position: relative;
  margin-left: 0.5em;

  a {
    color: #7F7F7F;

    &:hover {
      color: #E5E5E5;
    }
  }
}