@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  // background-color: lightcyan;
  font-family: 'Zilla Slab', serif;
  letter-spacing: 0.5em;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  margin: {
    bottom: 3em;
    top: 3em;
  }
}

.react-root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@import 'vars';
@import 'MainComponent';
@import 'info';
@import 'logo-wrapper';
@import 'footer';
